In [1]:
# import the required libraries

import pandas as pd
import numpy as np

import seaborn as sns

In [2]:
# view all the available datasets in the seaborn library
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [3]:
# load the titanic dataset
data=sns.load_dataset('titanic')
data.head(4)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False

In [4]:
data1=sns.load_dataset('tips')
data.head(4)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False

In [6]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 728F-16E1

 Directory of D:\AI_ML

17-07-2023  08:37    <DIR>          .
17-07-2023  07:42    <DIR>          .ipynb_checkpoints
04-07-2023  05:28            19,360 Activity-1.docx
04-07-2023  05:28           138,008 Activity-1.pdf
07-07-2023  08:34            26,690 Activity-2.docx
07-07-2023  08:34           222,850 Activity-2.pdf
12-07-2023  04:08            30,704 Activity-3.docx
12-07-2023  04:08           247,393 Activity-3.pdf
10-07-2023  10:16    <DIR>          AI_ML
19-05-2023  13:51         4,701,215 Bank Data running case study.xlsx
07-07-2023  15:01            21,725 Capstone Project Rubric.xlsx
19-05-2023  13:51             8,980 Car_data.xlsx
19-05-2023  22:29            12,774 data.xlsx
03-07-2023  13:01            24,667 Day-1.ipynb
04-07-2023  08:10            24,667 Day-1-Copy1.ipynb
04-07-2023  13:13            46,182 Day-2.ipynb
10-07-2023  07:46            23,733 Day-3-Copy1.ipynb
10-07-2023  12:05            53,565 Day-4.ipynb
10-07-2023  12:06            53,565 Day-4-Copy1.ipynb
11-07-2023  22:12         4,963,377 Day-4-DF.ipynb
15-11-2022  08:20            95,886 Deloitte-Python Basics-Aug16_Aug19.ipynb
13-07-2023  12:38         3,979,861 Descriptive Statistics - Day1.ipynb
19-05-2023  13:51             4,561 Exercise- 2- Descriptive_stats.ipynb
21-05-2023  13:41            18,745 Exercise_1 - Descriptive Statistics.ipynb
19-05-2023  15:52             2,911 Exercise-3-Descriptive statistics.ipynb
21-05-2023  13:43             1,060 Hands- on - Descriptive Statistics with Python.ipynb
21-05-2023  13:43            17,254 Hands -on- Solution- Descriptive Statistics with Python.ipynb
13-07-2023  10:31            41,343 Histogram.png
06-07-2023  12:18         1,406,159 Introductory Course on ai & ml 03072023.pdf
19-05-2023  13:51            38,011 Loan.csv
10-07-2023  14:31            34,393 MCQ-1.xlsx
17-07-2023  07:42           199,295 Probability- Day 2.ipynb
17-07-2023  08:37            10,564 Probability.ipynb
03-07-2023  11:10             3,486 python.png
15-11-2022  08:20         6,615,966 Python.zip
10-07-2023  13:51           648,006 Python_QuestionBank_Final_version.xlsx
20-05-2023  00:15             8,950 Sales_data.xlsx
19-05-2023  13:31            53,300 sample.csv
24-06-2023  13:36         3,904,256 session-1.ipynb
21-05-2023  13:36           388,124 Statistics- Descriptive Statistics.xlsx
13-07-2023  12:46           381,856 Stats-Basic.xlsx
13-07-2023  14:29            81,177 Stats-MIT-B1.xlsx
15-11-2022  14:57         2,348,061 Store.csv
03-07-2023  10:17               589 Untitled.ipynb
03-07-2023  10:21                72 Untitled1.ipynb
17-07-2023  07:38               589 Untitled2-Copy1.ipynb
10-07-2023  09:49            91,353 wine+quality.zip
22-05-2023  22:24             3,305 winequality.names
22-05-2023  22:24            84,199 winequality-red.csv
10-07-2023  10:00            85,743 winequality-red1.csv
22-05-2023  22:24           264,426 winequality-white.csv
              48 File(s)     31,432,956 bytes
               3 Dir(s)  204,595,523,584 bytes free

In [13]:
import os
os.getcwd()

'D:\\AI_ML'

In [14]:
# write data frame to the csv file
data.to_csv('titanic.csv')

In [15]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 728F-16E1

 Directory of D:\AI_ML

17-07-2023  08:43    <DIR>          .
17-07-2023  07:42    <DIR>          .ipynb_checkpoints
04-07-2023  05:28            19,360 Activity-1.docx
04-07-2023  05:28           138,008 Activity-1.pdf
07-07-2023  08:34            26,690 Activity-2.docx
07-07-2023  08:34           222,850 Activity-2.pdf
12-07-2023  04:08            30,704 Activity-3.docx
12-07-2023  04:08           247,393 Activity-3.pdf
10-07-2023  10:16    <DIR>          AI_ML
19-05-2023  13:51         4,701,215 Bank Data running case study.xlsx
07-07-2023  15:01            21,725 Capstone Project Rubric.xlsx
19-05-2023  13:51             8,980 Car_data.xlsx
19-05-2023  22:29            12,774 data.xlsx
03-07-2023  13:01            24,667 Day-1.ipynb
04-07-2023  08:10            24,667 Day-1-Copy1.ipynb
04-07-2023  13:13            46,182 Day-2.ipynb
10-07-2023  07:46            23,733 Day-3-Copy1.ipynb
10-07-2023  12:05            53,565 Day-4.ipynb
10-07-2023  12:06            53,565 Day-4-Copy1.ipynb
11-07-2023  22:12         4,963,377 Day-4-DF.ipynb
15-11-2022  08:20            95,886 Deloitte-Python Basics-Aug16_Aug19.ipynb
13-07-2023  12:38         3,979,861 Descriptive Statistics - Day1.ipynb
19-05-2023  13:51             4,561 Exercise- 2- Descriptive_stats.ipynb
21-05-2023  13:41            18,745 Exercise_1 - Descriptive Statistics.ipynb
19-05-2023  15:52             2,911 Exercise-3-Descriptive statistics.ipynb
21-05-2023  13:43             1,060 Hands- on - Descriptive Statistics with Python.ipynb
21-05-2023  13:43            17,254 Hands -on- Solution- Descriptive Statistics with Python.ipynb
13-07-2023  10:31            41,343 Histogram.png
06-07-2023  12:18         1,406,159 Introductory Course on ai & ml 03072023.pdf
19-05-2023  13:51            38,011 Loan.csv
10-07-2023  14:31            34,393 MCQ-1.xlsx
17-07-2023  07:42           199,295 Probability- Day 2.ipynb
17-07-2023  08:43            14,982 Probability.ipynb
03-07-2023  11:10             3,486 python.png
15-11-2022  08:20         6,615,966 Python.zip
10-07-2023  13:51           648,006 Python_QuestionBank_Final_version.xlsx
20-05-2023  00:15             8,950 Sales_data.xlsx
19-05-2023  13:31            53,300 sample.csv
24-06-2023  13:36         3,904,256 session-1.ipynb
21-05-2023  13:36           388,124 Statistics- Descriptive Statistics.xlsx
13-07-2023  12:46           381,856 Stats-Basic.xlsx
13-07-2023  14:29            81,177 Stats-MIT-B1.xlsx
15-11-2022  14:57         2,348,061 Store.csv
17-07-2023  08:43            61,365 titanic.csv
03-07-2023  10:17               589 Untitled.ipynb
03-07-2023  10:21                72 Untitled1.ipynb
17-07-2023  07:38               589 Untitled2-Copy1.ipynb
10-07-2023  09:49            91,353 wine+quality.zip
22-05-2023  22:24             3,305 winequality.names
22-05-2023  22:24            84,199 winequality-red.csv
10-07-2023  10:00            85,743 winequality-red1.csv
22-05-2023  22:24           264,426 winequality-white.csv
              49 File(s)     31,498,739 bytes
               3 Dir(s)  204,595,392,512 bytes free

In [16]:
pwd

'D:\\AI_ML'

In [18]:
data.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [21]:
data['age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [22]:
data['age'].max()

80.0

In [23]:
data['age'].min()

0.42

In [24]:
# What is the average age of the Titanic passengers?
data['age'].mean()

29.69911764705882

In [29]:
# Dimension
data.shape

(891, 15)

In [28]:
# How many passengers survived the Titanic collision?
data['survived'].dtype
data['survived'].value_counts() # frequency

0    549
1    342
Name: survived, dtype: int64

In [30]:
# What is the passenger survival rate (probability) 
data['survived'].value_counts(normalize=True) #Relative Frequnecy

0    0.616162
1    0.383838
Name: survived, dtype: float64

In [31]:
#Relative Frequnecy
# Freq/total count
Survial_frq=342
total_count=891
rel_frq=Survial_frq/total_count
rel_frq

0.3838383838383838

- Inference: 38% chances of survial

In [33]:
# What is the probability that a randomly selected passenger survived the Titanic disaster?
# Event: passenger survived
survived=342
total_passengers=891
prob_survived= survived/total_passengers
# P(E)
What is the probability that a randomly selected passenger survived the Titanic disaster?

0.3838383838383838

## Complement probability

In [36]:
# What is the probability that a randomly selected passenger did not survived the Titanic disaster?
# 1-survived=notsurvived
# P(E')=1-P(E) hence p(E')+P(E)=1
prob_not_survied=1-prob_survived
prob_not_survied

0.6161616161616161

In [35]:
# total probability is always 1
Total_prob=prob_not_survied+prob_survived
Total_prob

1.0

## Conditional Probability

In [38]:
# Given that a passenger is female, what is the probability that she survived?
# data.columns
data['sex'].value_counts()

male      577
female    314
Name: sex, dtype: int64

In [40]:
# A: A passenger is female
fem_count=data[data['sex']=='female']
len(fem_count)

314

In [41]:
# B: Female Passenger survived
fem_survied=data[(data['sex']=='female') & (data['survived']==1)]
len(fem_survied)

233

In [43]:
# A: A passenger is female
# B: Female Passenger survived
# P(B|A) 

prob_female_survived=len(fem_survied)/len(fem_count)
prob_female_survived

0.7420382165605095

In [44]:
# Survival of female
prob_female_survived=314/891
prob_female_survived

0.35241301907968575

In [46]:
## What is the probability that a passenger survived given that they were in first class?
data.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [47]:
data['pclass'].value_counts()

3    491
1    216
2    184
Name: pclass, dtype: int64

In [48]:
data['class'].value_counts()

Third     491
First     216
Second    184
Name: class, dtype: int64

In [49]:
# A: A passenger is in First class
fclass_count=data[data['class']=='First']
len(fclass_count)

# B: First class Passenger survived
fclass_survied=data[(data['class']=='First') & (data['survived']==1)]
len(fclass_survied)

# A: A passenger is in First class
# B: First class Passenger survived
# P(B|A) = P(B∩A)/P(A)

prob_fclass_survived=len(fclass_survied)/len(fclass_count)
prob_fclass_survived

0.6296296296296297

In [50]:
data.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [ ]:
# Bayes Theorem
P(A|B) = (P(B|A) * P(A)) / P(B)
P(A|B) = (P(B|A) * P(A)) / [(P(B|A)*P(A))+(P(B|A')*P(A'))]
where:

P(A|B) is the probability of event A given event B (the posterior probability).
P(B|A) is the probability of event B given event A (the likelihood).
P(A) is the probability of event A (the prior probability).
P(B) is the probability of event B.

In [ ]:
There is a certain disease that affects 2% of the population (prevalence). 

A medical test is available to detect this disease, which has an accuracy rate of 95% 
(it correctly identifies the disease in 95% of cases) and a false positive rate of 3% 
(it incorrectly indicates the presence of the disease in 3% of cases where it's not actually present).

An individual takes the test, and the result comes back positive. 

Determine the probability that this person actually has the disease (posterior probability).

In [ ]:
Calculate the probability of having the disease given a positive test result P(Disease|Positive).
P(Disease|Positive)= (P(Positive|Disease) ∗ P(Disease)) / [(P(Positive|Disease) ∗ P(Disease)) + (P(Positive|No Disease) ∗ P(No Disease))] 

Given that

Prevalence of the disease (prior probability): P(Disease) = 0.02 (2%)
    
P(No Disease) = 1 - P(Disease) = 1 - 0.02 = 0.98 (98%)

Accuracy of the test (likelihood): P(Positive|Disease) = 0.95 (95%)

False positive rate of the test: P(Positive|No Disease) = 0.03 (3%)

In [ ]:
Step 1: Calculate the probability of testing positive, regardless of disease status (marginal likelihood):

P(Positive) = P(Positive|Disease) * P(Disease) + P(Positive|No Disease) * P(No Disease)

P(Positive) = (0.95 * 0.02) + (0.03 * 0.98) = 0.019 + 0.0294  = 0.0484

In [ ]:
Step 2: Apply Bayes' theorem to calculate the probability of having the disease given a positive test result:

P(Disease|Positive) = (P(Positive|Disease) * P(Disease)) / P(Positive)

P(Disease|Positive) = (0.95 * 0.02) / 0.0484 ≈ 0.0391 or 3.91%


Therefore, if an individual tests positive for the disease, the probability of them actually having the disease is approximately 3.91%. 

This result indicates that even with a positive test, there is a relatively low probability of the person having the disease.

Further evaluations or tests may be necessary to confirm the diagnosis.

In [ ]:
Assume that the word ‘offer’ occurs in 80% of the spam e-mail in your account. 
Also, let’s assume ‘offer’ occurs in 10% of the non-spam e-mails. 
30% of the received e-mails are considered as a spam.
when a new e-mail received contains ‘offer’, what is the probability that it is spam?

In [ ]:
Apply Bayes' theorem to calculate the probability that the message is spam:
P(Spam|Offer) = (P(Offer|Spam) ∗P(Spam)) / [(P(Offer|Spam) * P(Spam)) + (P(Offer|Spam') * P(Spam'))]

In [ ]:
Step 1: Calculate the marginal likelihood of receiving a message containing the word 'offer’:
P(Offer) = P(Offer|Spam) * P(Spam) + P(Offer|Not Spam) * P(Not Spam)
P(Offer|Spam) = 80% = 0.80 
P(Offer|Not Spam) = 10% = 0.10 
P(Spam) = 30% = 0.30 
P(Not Spam) = 70% = 0.70 (complement of spam)
P(Offer) = (0.80 * 0.30) + (0.10 * 0.70) = 0.24 + 0.07 = 0.31

In [ ]:
Step 2: Apply Bayes' theorem to calculate the probability that the message is spam:

P(Spam|Offer) = (P(Offer|Spam) * P(Spam)) / P(Offer)

P(Spam|Offer) = (0.80 * 0.30) / 0.31

= 0.24 / 0.31  ≈ 0.774 or 77.4%

Therefore, the probability that a new message containing the word 'offer' is spam is approximately 77.4%.

This result suggests that there is a high likelihood that a message with the word 'offer' is spam.

# Probability Distribution

# Binomial distribution

In [ ]:
# Microfracture knee surgery has a 75% chance of success on patients with degenerative knees.
# The surgery is performed on three patients. 
# Find the probability of the surgery being successful on exactly two patients.

In [51]:
import scipy.stats as st

In [53]:
# binomial distirbution we use binom function

p = 0.75  # knee surgery success rate 75%
n = 3 # no. of patients (trails)
x = 2 # exactly two patients

prob=st.binom.pmf(x,n,p)
prob

0.42187499999999994

In [ ]:
A survey indicates that 41% of women in the United States consider reading their favorite leisure-time activity. 
You randomly select four U.S. women and ask them if reading is their favorite leisure-time activity. 
Find the probability that 
(1) exactly two of them respond yes, 
(2) at least two of them respond yes,
and (3) fewer than two of them respond yes.

In [59]:
# (1) exactly two of them respond yes, 

p = 0.41 #41%
n = 4
x = 2
prob1=st.binom.pmf(x,n,p)
prob1

0.3510936600000001

In [60]:
# (2) at least two of them respond yes,

# x=0 x=1 x=2 x=3 x=4  total probability is 1


p = 0.41 #41%
n = 4
x>=2 # that is x=2 or x=3 or x=4 or x<2 that is x=0 or x=1

prob2=st.binom.pmf(2,n,p)+st.binom.pmf(3,n,p)+st.binom.pmf(4,n,p)
prob2

0.5420048300000002

In [61]:
prob2=1-st.binom.cdf(1,n,p)  # cdf will give the prob of x=0 + x=1
prob2

0.5420048299999998

In [62]:
# (3) fewer than two of them respond yes.
p = 0.41
n = 4
x<2 # x=0 or x=1
prob3=st.binom.cdf(1,n,p)  # cdf will give the prob of x=0 + x=1
prob3

0.45799517000000023

# Poisson distribution

In [ ]:
# The mean number of accidents per month at a certain intersection is three. 
# What is the probability that in any given month four accidents will occur at this intersection?

In [63]:
mean = 3 # lambda
x = 4

prob=st.poisson.pmf(x,mean)
prob

0.16803135574154085

In [65]:
# What is the probability that in any given month atleast four accidents will occur at this intersection?

mean = 3 # lambda
#x >=4 that is x=4 or x=5 or x=6 or x=7 ......

prob=1-st.poisson.cdf(3,mean) # x=0,x=1,x=2,x=3
prob

0.35276811121776874