# Python Introduction Day1

* Explore print()

In [1]:
#Display Hello World
print("Hello World")

Hello World

In [2]:
display("Hello World")

'Hello World'

In [3]:
a = 5
a
#print(a)

5

In [4]:
print("the value of is", a)

the value of is 5

In [5]:
print("AI","ML")

AI ML

In [6]:
print("AI","ML", sep='/')
print("AI","ML", sep='-')

AI/ML
AI-ML

In [7]:
print("AI","ML", sep='/',end = " ")
print("course")

AI/ML course

* Platform exploring

In [8]:
import platform as pt
version=pt.python_version()
print("The python version is:", version)

The python version is: 3.10.9

In [9]:
pt.system()

'Windows'

In [10]:
pt.release()

'10'

In [11]:
pt.machine()

'AMD64'

In [12]:
pt.processor()

'AMD64 Family 23 Model 24 Stepping 1, AuthenticAMD'

In [13]:
pt.architecture()

('64bit', 'WindowsPE')

#### Python Data Types
* Basic Types: integer,float, boolean, string, complex
* Container Types: list, tuple, set, dictionary

In [14]:
a = 6
print(a)
print(6)

6
6

In [15]:
a = 6.6
print(a)
print(6.6)

6.6
6.6

In [16]:
print(True)
print(False)

True
False

In [17]:
a= "AI/ML"
print(a)
print('AI/ML')
print("AI/ML")

AI/ML
AI/ML
AI/ML

In [18]:
print(4+6j)
a = 4+6j
print(a)

(4+6j)
(4+6j)

In [19]:
type(6)

int

In [20]:
type(6.6)

float

In [21]:
type(a)

complex

In [22]:
complex(6)

(6+0j)

In [23]:
complex(6) + complex(5)

(11+0j)

* implicit ans explicit conversion

In [24]:
a = 7
complex(a)
# a + ib
b = 6 + 2j
a+b

(13+2j)

In [25]:
float(4)

4.0

In [26]:
6 + 6.6

12.6

In [28]:
bool(a)

True

In [29]:
type(a)

int

#### How to accept the input from user
* input()

In [27]:
std_name = input("Enter your name")
cgpa = float(input("Enter your cgpa"))

Enter your nameRishi
Enter your cgpa7.18

In [30]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Python Introduction DAY- 2

### Python Data Structures
#### Container Types : list, tuple, set, dictionary
#### Mutable and Immutable
#### Mutable : list, set, dictionary
#### Immutable : tuple
## list: contain heterogeneous data types

In [2]:
a = 6
print("The address of variable a", id(a))
a = 10
print("The address of variable a", id(a))
# sum = a + 10
# print()

The address of variable a 1911538647440
The address of variable a 1911538647568

In [31]:
# create an empty list
l1 = []
l1
type(l1)

list

In [32]:
# Create a list with the following deatils
# name, reg.no, contact, cgpa, status
data = ["Prabhu",204103178, 7205152014,7.18, True]
data

['Prabhu', 204103178, 7205152014, 7.18, True]

In [33]:
# create a list by using list() constructor
l1 = list()

In [34]:
data = list(("Prabhu",204103178, 7205152014,7.18, True))
data

['Prabhu', 204103178, 7205152014, 7.18, True]

In [35]:
data[0]

'Prabhu'

In [36]:
data1 = ["Prabhu",204103178, 7205152014,7.18, True,["d1","d2","d3"]]
data1

['Prabhu', 204103178, 7205152014, 7.18, True, ['d1', 'd2', 'd3']]

In [37]:
data1[5]

['d1', 'd2', 'd3']

* positive index and negetive index

In [39]:
#positive index 0-->1-->2
#negetive index -2 (count from right side)
data1[-1]

['d1', 'd2', 'd3']

* slicing : [first_index : last_index : step]
* first_index : inclusive and last_index : exclusive

In [40]:
data1[:]

['Prabhu', 204103178, 7205152014, 7.18, True, ['d1', 'd2', 'd3']]

In [41]:
data1[2:]

[7205152014, 7.18, True, ['d1', 'd2', 'd3']]

In [42]:
data1[:2]

['Prabhu', 204103178]

In [43]:
data1[2:4]

[7205152014, 7.18]

In [44]:
data1[::1]

['Prabhu', 204103178, 7205152014, 7.18, True, ['d1', 'd2', 'd3']]

In [45]:
data1[::-1]

[['d1', 'd2', 'd3'], True, 7.18, 7205152014, 204103178, 'Prabhu']

In [46]:
data1[::2]

['Prabhu', 7205152014, True]

In [47]:
data1[2:-1]

[7205152014, 7.18, True]

### list methods

* append()
* extend()
* index()
* insert()
* remove()
* count()
* pop()
* sort()
* reverse()
* copy()
* sum()
* clear()
* min()
* max()
* len()

In [9]:
L2 = [1,2,3]
L2

[1, 2, 3]

In [11]:
L2.append(4)

In [12]:
L2

[1, 2, 3, 4]

In [30]:
list2 = [1,2,3]
list2.extend([4])
list2

[1, 2, 3, 4]

In [20]:
L2 = [1,2,3]

In [21]:
L2.append([4])

In [22]:
L2

[1, 2, 3, [4]]

In [27]:
L2 = [1,2,3]
L2.extend([4,5])
L2

[1, 2, 3, 4, 5]

In [31]:
L2 = [1,2,3]

In [32]:
L2.append([4,5])
L2

[1, 2, 3, [4, 5]]

In [33]:
L2.append([6,7,8])
L2

[1, 2, 3, [4, 5], [6, 7, 8]]

In [34]:
L2 = []

In [35]:
L2.append([1,2,3])

In [36]:
L2

[[1, 2, 3]]

In [37]:
L2.append([4,5])
L2.append([6,7,8])
L2

[[1, 2, 3], [4, 5], [6, 7, 8]]

In [38]:
L2.index([4,5])

1

In [40]:
L3 = ['a','b', 'd']

In [41]:
L3.insert(2, 'c')
L3

['a', 'b', 'c', 'd']

In [42]:
L3.remove('c')
L3

['a', 'b', 'd']

In [43]:
L3.count('a')

1

In [44]:
L3.insert(2, 'a')
L3

['a', 'b', 'a', 'd']

In [45]:
L3.count('a')

2

In [46]:
L3.pop()
L3

['a', 'b', 'a']

In [47]:
L3.sort()
L3

['a', 'a', 'b']

In [48]:
L3.sort(reverse = True)
L3

['b', 'a', 'a']

In [49]:
L3.reverse()
L3

['a', 'a', 'b']

In [50]:
L2 = [1,2,3]
min(L2)

1

In [51]:
sum(L2)

6

### list comprehension

#### loop constructs : execute the steps repeatedly for a given period(number of times)
#### for loop, while loop, nested loop

In [ ]:
### for loop syntax
for iter_var in sequence:
    # logic(steps inside the for loop)
# using index and range
for i in range(len(sequence)):
    print(sequence[i])

In [54]:
L4 = ["sk", "kumar", "Alok", "Joy"]
L4

['sk', 'kumar', 'Alok', 'Joy']

In [55]:
print("the students in the class are")

the students in the class are

In [56]:
for i in L4:
    print(i)

sk
kumar
Alok
Joy

In [57]:
for i in "good morning":
    print(i)

g
o
o
d

m
o
r
n
i
n
g

In [58]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [59]:
for index in range(len(L4)):   # range takes value from 0 to len(L4)-1 ---> 0,1,2,3
    print(L4[index])

sk
kumar
Alok
Joy

In [60]:
len(L4)

4

In [61]:
var = range(3)
for i in var:
    print(i)

0
1
2

In [64]:
var1 = range(2,6)
for i in var1:
    print(i)

2
3
4
5

In [65]:
for _ in "good morning": # _ (under score is for ignoring)
    print('Hi')
print("stop")

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
stop

In [66]:
for _ in range(3):
    print(_)

0
1
2

#### while loop

In [68]:
while condition:
    # logic (steps inside the for loop)

In [70]:
cnt = 0 
while cnt < 3: # cnt=0, cnt = 1, cnt=3 it will move outside the loop
    print("Hi")
    cnt += 1
print("joining late")

Hi
Hi
Hi
joining late

In [71]:
cnt = 1 
while cnt <= 3: # cnt=1, cnt = 2, cnt=3, if cnt = 4 it will move outside the loop
    print("Hi")
    cnt += 1
print("joining late")

Hi
Hi
Hi
joining late

#### Nested loop

In [72]:
Day = ["Day1", "Day2"]
name = ["sk", "kumar", "Alok", "Joy"]

In [73]:
name

['sk', 'kumar', 'Alok', 'Joy']

In [74]:
Day

['Day1', 'Day2']

In [76]:
for d in Day:
    for n in name:
        print(d, n)
else:
    print("notes distributed")

Day1 sk
Day1 kumar
Day1 Alok
Day1 Joy
Day2 sk
Day2 kumar
Day2 Alok
Day2 Joy
notes distributed

#### list comprehension

In [ ]:
# creating a new list
# short logic/ syntax
# improve the performance

In [78]:
# generates even number list
even_list = []
for i in range(10):
    if i % 2 == 0:
        even_list.append(i)
even_list

[0, 2, 4, 6, 8]

In [80]:
[i for i in range(11) if i % 2 == 0]

[0, 2, 4, 6, 8, 10]

In [81]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
["even" if i % 2 == 0 else "odd" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [85]:
mat1 = [[1,2], [3,4], [5,6], [7,8]] # the dimension is 2 X 4
print(mat1)

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [88]:
# Transpose of 2 X 4 is 4 X 2
mat2 = [[r[c] for r in mat1] for c in range(2)]
mat2

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [90]:
mat3 = [[r[c] for r in mat2] for c in range(4)]
mat3

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [93]:
# squre of each number in the list
l1 = [1,2,3,4]
# output as l1 = [1,4,9,16]
[i * i for i in l1]

[1, 4, 9, 16]

## Set

In [94]:
# creating unique elements, duplication not possible
s1 = set([1,2,3])
s2 = set([2,3,4])

In [95]:
s1

{1, 2, 3}

In [96]:
s2

{2, 3, 4}

In [97]:
type(s1)

set

In [98]:
# Operation on sets
# union
# intersection
# difference
# symmetric difference
# subset
# superset

In [99]:
# union (or operation)
s1 | s2

{1, 2, 3, 4}

In [100]:
# intersection (and operation)
s1 & s2

{2, 3}

In [101]:
# difference
s1 - s2

{1}

In [102]:
# symmertic difference (a-b union b-a)
s1 ^ s2

{1, 4}

In [103]:
# subset
s1 < s2

False

In [104]:
# operators
s1.difference(s2)

{1}

In [105]:
s1.issuperset(s2)

False

In [106]:
s1.issubset(s2)

False

## Dictionary

In [107]:
# creating key and value pairs
# no duplicate keys
# no order

In [108]:
D1 = {'name':'kumar','course':'AI_ML','scores':[40,80]}

In [109]:
D1.keys()

dict_keys(['name', 'course', 'scores'])

In [110]:
D1.values()

dict_values(['kumar', 'AI_ML', [40, 80]])

In [111]:
D1['name']

'kumar'

In [112]:
D1.items()

dict_items([('name', 'kumar'), ('course', 'AI_ML'), ('scores', [40, 80])])

In [115]:
D1

{'name': 'kumar', 'course': 'AI_ML', 'scores': [40, 80]}

In [116]:
D1.get('course')

'AI_ML'

In [118]:
D1['course'] = 'MLOps'
D1

{'name': 'kumar', 'course': 'MLOps', 'scores': [40, 80]}

In [119]:
D2 = D1.copy()

In [120]:
D2

{'name': 'kumar', 'course': 'MLOps', 'scores': [40, 80]}

In [121]:
D1

{'name': 'kumar', 'course': 'MLOps', 'scores': [40, 80]}

In [122]:
D1.clear()

In [123]:
D1

{}

In [124]:
del(D1)

In [125]:
D1

NameError: name 'D1' is not defined

In [126]:
D2

{'name': 'kumar', 'course': 'MLOps', 'scores': [40, 80]}

In [127]:
L2 = []

In [128]:
L2

[]

In [129]:
L2.append(D2)

In [130]:
L2

[{'name': 'kumar', 'course': 'MLOps', 'scores': [40, 80]}]

In [131]:
L2.extend(["Student1"])

In [132]:
L2

[{'name': 'kumar', 'course': 'MLOps', 'scores': [40, 80]}, 'Student1']

## Tuple

In [134]:
# immuatble
# creating : it is similar to list but with braces
T1 = (1,2,3)

In [135]:
T1

(1, 2, 3)

In [137]:
T1 = set((1,2,3))
T1

{1, 2, 3}

In [138]:
T1  = (1,2,3)
T1

(1, 2, 3)

In [139]:
T1[0]

1

In [140]:
T2 = 1,2,3,4
T2

(1, 2, 3, 4)

In [141]:
len(T1)

3

In [142]:
T3 = (1,2,[3,4])
T3

(1, 2, [3, 4])

In [146]:
# tuple is  partially immutable
T3[2][0] = 30
T3

(1, 2, [30, 4])

In [147]:
# dictionary operator is to create a dictionary where the elements (key, value) as tuples
T4 = dict([('AI_ML','CSE01'), ('MLOps','CSE02')])

In [148]:
T4

{'AI_ML': 'CSE01', 'MLOps': 'CSE02'}

## User defined functions

In [149]:
#def function_name(arguments/parameters):
    # function_body/logic

In [150]:
def hi():
    print("Hi students")
hi()

Hi students

In [152]:
def hi1(name):
    print("hi", name)

In [153]:
hi1('kumar')

hi kumar

In [154]:
def f1(name):
    return len(name)

In [155]:
f1('kumar')

5

In [156]:
print("the length of the string is", f1('kumar'))

the length of the string is 5

In [157]:
def add(n1,n2):
    return (n1+n2)

In [158]:
add(10,20)

30

In [159]:
# default argument
def add(n1,n2 = 20):
    return (n1+n2)

In [160]:
add(10,30)

40

In [161]:
add(10)

30

In [162]:
# variable length argument
# *args
def add(*args):
    res = 0
    for i in args:
        res = res+i
    return res

In [163]:
add(10,20)

30

In [164]:
add(10,20,30)

60

In [ ]:
# keyword variable length argument
# **kwargs

# Python Introduction -DAY3

#### Lambda expressions, Map, Filter,Reduce Exception Handling in python

<a class='anchor' id="0.1"></a>
## Python Module
  ### [1.Day-3 Functional Programming:](#1)
* #### [1.1 Lambda Expression:](#1.1)
* #### [1.2 Map:](#1.2)
* #### [1.3 Filter:](#1.3)
* #### [1.4 Reduce:](#1.4)
* #### [1.5 Exception Handling:](#1.5)

## 1.1 Lambda Expressions <a class='anchor' id="1.1"></a>
[Back to Day-3](#0.1)

In [1]:
# what,why,How to,when to use- Lambda Expression

In [2]:
# User defined Function

In [3]:
def hi():
    print('good morning')
hi()

good morning

In [25]:
# Function Programming
def inc(i):
    return i+2
def dec(i):
    return i-2
def apply(f_name,n):
    return f_name(n)
print(apply(inc,4))
print(apply(dec,6))

6
4

In [4]:
# Anonymous function : lambda (keyword)

In [5]:
# syntax ::
# variable = lambda arguments: expression

In [6]:
# square of a number
def f1(n):
    return n * n
f1(4)

16

In [7]:
res = lambda n : n * n

In [8]:
res(4)

16

In [9]:
# add two numbers
res1 = lambda a,b : a+b
res1(10,20)

30

In [10]:
full_name = lambda fname,lname : fname+lname
full_name("sk","kumar")

'skkumar'

In [12]:
res2 = lambda *args:sum(args)
print(res2(10,20,30))
print(res2(1,4,5,8,9))

60
27

In [15]:
# find the squre of list of number using lambda

In [16]:
res = []
for i in range(1,5):
    res.append(i*i)
print(res)

[1, 4, 9, 16]

In [17]:
res3 = lambda *args:[i*i for i in args]
res3(2,3,4,5,6)

[4, 9, 16, 25, 36]

## 1.2 Map <a class='anchor' id="1.2"></a>
[Back to Day-3](#0.1)

In [18]:
# syntax ::
# map(function,iter_items)

In [19]:
# function to find the square of a number
def sq(n):
    return n * n
sq(5)

25

In [20]:
map(sq,range(2,10,2))

In [21]:
# map will return an iterable object
list(map(sq,range(2,10,2)))

[4, 16, 36, 64]

In [22]:
res5 = map(sq,range(2,10,2))
list(res5)

[4, 16, 36, 64]

In [23]:
l1 = [1,2,3]
l2 = [5,6,7]
# result = [1+5,2+6,3+7] = [6,8,10]
list(map(lambda n1,n2 : n1 + n2, l1,l2))

[6, 8, 10]

## 1.3 Filter <a class='anchor' id="1.3"></a>
[Back to Day-3](#0.1)

In [ ]:
# syntax
# filter(function, iterable)

In [29]:
# l1 = [i for i in range(50) if i % 2 == 0]
l1 = []
for i in range(50):
    if i % 2 == 0:
        l1.append(i)
l1

[0, 2, 4, 6, 8]

In [31]:
l2 = []
for i in range(2,50,3):
        l2.append(i)
l2

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47]

In [32]:
def even(n):
    if n%2 == 0:
        return n

In [35]:
list(filter(even,l2))

[2, 8, 14, 20, 26, 32, 38, 44]

In [36]:
list(filter(lambda n: n%2 == 0,l2))

[2, 8, 14, 20, 26, 32, 38, 44]

## 1.4 Reduce <a class='anchor' id="1.4"></a>
[Back to Day-3](#0.1)

In [38]:
# syntax
# reduce(function, iter_items)

In [39]:
res = 0
for i in range(6):
    res += i
res

15

In [40]:
1+2+3+4+5

15

In [41]:
from functools import reduce
l2 = [1,2,3,4,5]
reduce(lambda n1,n2 : n1+n2,l2) # ((((1+2)+3)+4)+5)

15

## 1.5 Exception Handling in python <a class='anchor' id="1.5"></a>
[Back to Day-3](#0.1)

In [42]:
# syntax
# try:
    # satements which may generate exceptions
# except:
    # statements to handle the exception
    
# finally:
    # statements which wiil end the program

In [43]:
nem = 10
dem = 0
div = nem / dem
print(div)

ZeroDivisionError: division by zero

In [44]:
try:
    nem = 10
    dem = 0
    div = nem / dem
    print(div)
except:
    print("Division not possible since denominater is zero")

Division not possible since denominater is zero

In [46]:
n = int(input("enter the denominator "))
try:
    nem = 10
    div = nem / n
    print(div)
except:
    print("Division not possible since denominater is zero")

enter the denominator 0
Division not possible since denominater is zero

In [47]:
n = 10
n

10

In [48]:
del n

In [49]:
n

NameError: name 'n' is not defined

In [52]:
try:
    nem = 10
    dem = 0
    div = nem / dem
    print(div)
except:
    print("Division not possible since denominater is zero")
finally:
    del dem
    print("denominator is deleted")

Division not possible since denominater is zero
denominator is deleted